{% extends 'sellingsapp/base.html' %}
{% block title %}Olvidaste el password{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card mt-3">
            <div class="card-header">
               Olvidaste password
            </div>
            <div class="card-body">
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                             {{ form.email|add_class:"form-control"|append_attr:"placeholder:Email" }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary" type="submit" name="btnEnviar" id="btnEnviar"
                                value="Guardar">
                                <i class="fas fa-sign-in-alt"></i> Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}