{% extends 'sellingsapp/base.html' %}
{% block title %}Cambiar password{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

  {% if validlink %}
   <div class="row">
     <div class="col-lg-6 offset-lg-3">
        <div class="card mt-3">
            <div class="card-header">
              Cambiar password
            </div>
            <div class="card-body">
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                             {{ form.new_password1|add_class:"form-control"|append_attr:"placeholder:New password" }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                             {{ form.new_password2|add_class:"form-control"|append_attr:"placeholder:Password confirmation" }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary" type="submit" name="btnEnviar" id="btnEnviar"
                                value="Guardar">
                                <i class="fas fa-sign-in-alt"></i> Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  {% else %}
    <p>
      El link para resetear el password fué inválido,posiblemente ya has sido usado.
      Por favor solicita un nuevo password.</p>
  {% endif %}
{% endblock %}