{% extends 'sellingsapp/base.html' %}

{% block content %}
 <div class="jumbotron">
     <h2 class="display-11">Instrucciones!</h2>
     <p class="lead">Te hemos enviado instrucciones.</p>
     <hr class="my-4">
     <p>
        Nosotros te enviamos instrucciones para resetear tu password, si existe una cuenta con el email que registraste.
        Recibirás un enlace corto para esto.
     </p>
     <p>
      Si no recibes un email,por favor asegúrate de que sea el email que registraste,y revisa tu folder de spam.
     </p>
 </div>


 
{% endblock %}