{% extends 'sellingsapp/base.html' %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
 <div class="row">
  <div class="col-lg-6 offset-lg-3">
    {% if user.is_authenticated %}
        <div class="jumbotron">
            <h1 class="display-11">Usuario conectado: {{ user.username }}!</h1>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="{% url 'sign_out' %}" role="button">Cerrar sesión</a>
        </div>
    {% else %}
        <div class="jumbotron">
            <h2 class="display-11">No tienes una sesión activa!</h2>
            <p class="lead">Para ingresar al sistema debes autenticarte.</p>
            <hr class="my-4">
            <p>Haz click en iniciar sesión.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'sign_in' %}" role="button">Iniciar sesión</a>
        </div>
     {% endif %}
  </div>
</div>
{% endblock content %}