{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{%static 'sellingsapp/images/favicon.ico' %}" type="image/x-icon">
    <link rel='manifest' href="https://dbarrios.pythonanywhere.com/static/sellingsapp/manifest.json">

        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script defer src="{% static 'sellingsapp/js/fontawesome-all.min.js' %}"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

   <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

      <a href="{% url 'sign_up' %}" class="navbar-brand">SALES TRACKING</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu_slide">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="menu_slide">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Login</a>
            <div class="dropdown-menu">
              <a href="{% url 'sign_in' %}" class="dropdown-item">Iniciar sesión</a>
              <a href="{% url 'sign_out' %}" class="dropdown-item">Cerrar sesión</a>
            </div>
          </li>

          {% if user.is_authenticated and user.username == "@dm1n" %}
            <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Empleados</a>
            <div class="dropdown-menu">
              <a href="{% url 'personAdd' %}" class="dropdown-item">Adicionar Empleado</a>
              <a href="{% url 'personList' %}" class="dropdown-item">Listar Empleados</a>
            </div>
            </li>
          {% endif %}

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Ventas</a>
            <div class="dropdown-menu">
              <a href="{% url 'solicitudAdd' %}" class="dropdown-item">Adicionar Ventas</a>
              <a href="{% url 'solicitudList' %}" class="dropdown-item">Listar Ventas</a>
            </div>
          </li>

          {% if user.is_authenticated and user.username == "@dm1n" %}
              <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Metas</a>
              <div class="dropdown-menu">
                <a href="{% url 'metaAdd' %}" class="dropdown-item">Adicionar Meta</a>
                <a href="{% url 'metaList' %}" class="dropdown-item">Listar Metas</a>
              </div>
              </li>
          {% endif %}
          
          {% if user.is_authenticated and user.username == "@dm1n" %}
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tarifas</a>
                <div class="dropdown-menu">
                  <a href="{% url 'tarifaAdd' %}" class="dropdown-item">Adicionar Tarifa</a>
                  <a href="{% url 'tarifaList' %}" class="dropdown-item">Listar Tarifas</a>
                </div>
              </li>
          {% endif %}

        
          <li class="nav-item">
            <a href="{% url 'proyectionList' %}" class="nav-link">Proyecciones</a>
          </li>

          <li class="nav-item">
            <a href="{% url 'sign_out' %}" class="nav-link .text-secondary">{{ user.username }}</a>
          </li>

        </ul>
      </div>
      </nav>

    <div class="container-fluid">
        <img class="img-fluid" src="{% static 'sellingsapp/images/heart.png' %}" alt="logo">
        {% include 'sellingsapp/messages.html' %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>