{% extends 'sellingsapp/base.html' %}
{% block title %}Lista de clientes{% endblock %}
{% load static %}
{% block content %}

{% if user.is_authenticated and user.username == "@dm1n" %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        
        <div class="panel-heading">
            <a class="btn btn-primary mb-2" href="{% url 'personAdd'%}" role="button"><i class="fas fa-plus-circle"></i>
                Add person</a>
        </div>

        {% if person_list %}
        <table class="table table-sm table-expand-sm table-responsive-sm">
            <thead class="thead bg-dark text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Celphone</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            {% for person in person_list %}
            <tr>
                <td>{{person.id}}</td>
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>
                <td>{{person.address}}</td>
                <td>{{person.email}}</td>
                <td>{{person.celphone}}</td>
                <td>
                    <a href="{% url 'personDetail' person.id %}">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="{% url 'personDelete' person.id %}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>

            {% endfor %}
        </table>
        {% include 'sellingsapp/pagination.html'%}


        {% else %}
        <p>No people are available.</p>
        {% endif %}
       
    </div>
</div>
{% else %}
  <div class="row">
      <div class="col-lg-6 offset-lg-3">
        {% include 'sellingsapp/info_sesion.html'  with message="No tienes privilegios suficientes para acceder" %}
      <div>
  </div> 
{% endif %}
{% endblock %}