{% extends 'sellingsapp/base.html' %}
{% block title %}Proyección de ventas{% endblock %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<script src="{% static 'sellingsapp/js/function.js' %}"></script>
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        {% if user.username == "@dm1n" %}
            <div class="panel-heading">
                <div class="row">
                    <div class="col">
                        <form id="frmsearch" method='GET' action="{% url 'proyectionList' %}">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <label class="fa fa-search"></label>
                                    </span>
                                </div>
                                <input id="search_cc_id" name="search_cc_id" value="{{request.GET.search_cc_id}}"
                                    type="number" class="form-control" placeholder="# Identificación"
                                    aria-label="search_cc_id" aria-describedby="basic-addon1">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="jumbotron">
            {% if proyeccion_ingre %}
            <h4 class="display-11">Proyección ingresadas</h4>
            <p class="lead">{{proyeccion_ingre}}</p>
            <h4 class="display-11">Proyección instaladas</h4>
            <p class="lead">{{proyeccion_instal}}</p>
            <hr class="my-4">

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Metas canal {{canal}}
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h5 class="display-11">% Meta vs ingresadas {{canal}} </h5>
                            <p class="lead">{{porc_meta_ingresadas}}</p>
                            <h5 class="display-11">% Meta vs instaladas {{canal}} </h5>
                            <p class="lead">{{porc_meta_instaladas}}</p>
                            <h5 class="display-11">Meta ingresadas</h5>
                            <p class="lead">{{meta_ingresadas}}</p>
                            <h5 class="display-11">Meta instaladas</h5>
                            <p class="lead">{{meta_instaladas}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <h5 class="display-11">Cantidad ingresadas</h5>
            <p class="lead">{{cant_solicitadas}}</p>
            <h5 class="display-11">Cantidad instaladas</h5>
            <p class="lead">{{cant_instaladas}}</p>
            <h5 class="display-11">Días transcurridos</h5>
            <p class="lead">{{dias_transcurridos}}</p>
            <h5 class="display-11">Días hábiles</h5>
            <p class="lead">{{dias_habiles}}</p>
            <hr class="my-4">
            <h5 class="display-11">Rango comisión</h5>
            <p class="lead">{{nombre_rango}}</p>
            <h5 class="display-11">Cálculo comisión</h5>
            <p class="lead">{{valor_comision}}</p>

            {% else %}
            <p class="lead">No se han encontrado proyecciones para este usuario</p>
            <hr class="my-4">
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        {% include 'sellingsapp/info_sesion.html' %}
        <div>
        </div>
        {% endif %}
        {% endblock %}