{% extends 'sellingsapp/base.html' %}
{% block title %}Proyección de ventas{% endblock %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<script src="{% static 'sellingsapp/js/function.js' %}"></script>
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        {% comment %} {% if user.username == "@dm1n" %} {% endcomment %}
        <div class="jumbotron">
           <div class="panel-heading">
                <form id="frmsearch" method='GET' action="{% url 'proyectionList' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <input type="number" name="meta_instalada" class="form-control" placeholder="meta instaladas" value="">
                            <br>
                            <input type="number" name="meta_ingresada" class="form-control" placeholder="meta ingresadas" value="">
                            <hr class="my-4">
                        </div>
                    </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                           {% comment %} {{request.GET.search_cc_id}} {% endcomment %}
                            <input id="search_cc_id" name="search_cc_id" value=""
                                type="number" class="form-control" placeholder="# Identificación"
                                aria-label="search_cc_id" aria-describedby="basic-addon1">
                                 <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <label class="fa fa-search"></label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
           </div>
        </div>
        {% comment %} {% endif %} {% endcomment %}

        <div class="jumbotron">
            {% if proyeccion_ingre %}
            <h4 class="display-11">Proyección ingresadas</h4>
            <p class="lead">{{proyeccion_ingre}}</p>
            <h4 class="display-11">Proyección instaladas</h4>
            <p class="lead">{{proyeccion_instal}}</p>
            <hr class="my-4">

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Metas canal {{canal}}
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h5 class="display-11">% Meta vs ingresadas {{canal}} </h5>
                            <p class="lead">{{porc_meta_ingresadas}}</p>
                            <h5 class="display-11">% Meta vs instaladas {{canal}} </h5>
                            <p class="lead">{{porc_meta_instaladas}}</p>
                            <h5 class="display-11">Meta ingresadas</h5>
                            <p class="lead">{{meta_ingresadas}}</p>
                            <h5 class="display-11">Meta instaladas</h5>
                            <p class="lead">{{meta_instaladas}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-4">
            <h5 class="display-11">Cantidad ingresadas</h5>
            <p class="lead">{{cant_solicitadas}}</p>
            <h5 class="display-11">Cantidad instaladas</h5>
            <p class="lead">{{cant_instaladas}}</p>
            <h5 class="display-11">Días transcurridos</h5>
            <p class="lead">{{dias_transcurridos}}</p>
            <h5 class="display-11">Días hábiles</h5>
            <p class="lead">{{dias_habiles}}</p>
            <hr class="my-4">
            <table class="table table-sm table-expand-sm table-responsive-sm">
            <thead class="thead bg-dark text-white text-center">
            <tr class="text-center">
            <th scope="col">Rango</th>
            <th scope="col">Escala</th>
            <th scope="col">0-10%</th>
            <th scope="col">10-14%</th>
            <th scope="col"> >14%</th>
            <th scope="col">Inter</th>
            </tr>
            </thead>
            <tbody>
                <tr class="text-center"><td>1</td><td>12 a 18</td><td>$17000</td><td>$14000</td><td>$10000</td><td>$14000</td></tr>
                <tr class="text-center"><td>2</td><td>19 a 25</td><td>$21000</td><td>$18000</td><td>$12000</td><td>$17000</td></tr>
                <tr class="text-center"><td>3</td><td>26 a 32</td><td>$27500</td><td>$21000</td><td>$15000</td><td>$20000</td></tr>
                <tr class="text-center"><td>4</td><td>33 a 39</td><td>$30500</td><td>$23000</td><td>$16000</td><td>$22000</td></tr>
                <tr class="text-center"><td>5</td><td> >40  </td><td>$34500</td><td>$26000</td><td>$18000</td><td>$24000</td></tr>
            </tbody>
            </table>
        
            {% else %}
            <p class="lead">No se han encontrado proyecciones para este usuario</p>
            <hr class="my-4">
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        {% include 'sellingsapp/info_sesion.html' %}
    <div>
</div>
{% endif %}
{% endblock %}