{% extends 'sellingsapp/base.html' %}
{% block title %}Lista de ventas{% endblock %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'sellingsapp/css/main.css' %}">
<script src="{% static 'sellingsapp/js/function.js' %}"></script>
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="panel-heading">
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary mb-2" href="{% url 'solicitudAdd'%}" role="button"><i
                            class="fas fa-plus-circle"></i> Add Venta</a>
                    <button type="button" class="btn btn-outline-primary waves-effect mb-2" data-toggle="modal" data-target="#modalThanks">
                        <i class="fas fa-file-excel"></i> Export excel
                    </button>
                </div>
                <div class="col">
                    <form id="frmsearch" method='GET' action="{% url 'solicitudSearch' %}">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-2" id="basic-addon1">
                                    <label class="fa fa-search"></label>
                                </span>
                            </div>
                            <input id="search_text" name="search_text" value="{{request.GET.search_text}}" type="text"
                                class="form-control mb-2" placeholder="Search" aria-label="Search_info"
                                aria-describedby="basic-addon1">
                            <div id="toolbar">
                                <select id="search_field" name="search_field" class="form-control">
                                    <option value="mes">Mes</option>
                                    <option value="status">Estado</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if solicitud_list %}
        <table class="table table-sm table-expand-sm table-responsive-sm">
            <thead class="thead bg-dark text-white text-center">
                <tr>
                    <th class="align-middle" scope="col">#</th>
                    <th class="align-middle" scope="col">Product Name</th>
                    <th class="align-middle" scope="col">Status</th>
                    <th class="align-middle" scope="col">Dia</th>
                    <th class="align-middle" scope="col">Mes</th>
                    <th class="align-middle" scope="col">Año</th>
                    <th class="align-middle d-none d-sm-none d-md-table-cell" scope="col">Notes</th>
                    <th class="align-middle" scope="col">Cliente</th>
                    <th class="align-middle d-none d-sm-none d-md-table-cell" scope="col">Celular</th>
                    <th class="align-middle" scope="col col-lg">Productos Asociados</th>
                    <th class="align-middle" scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
            {% for solicitud in solicitud_list %}
            <tr>
                <td class="text-center align-middle">{{solicitud.id}}</td>
                <td class="text-center align-middle">{{solicitud.product_name}}</td>
                <td class="text-center align-middle">{{solicitud.status}}</td>
                <td class="text-center align-middle">{{solicitud.dia}}</td>
                <td class="text-center align-middle">{{solicitud.mes}}</td>
                <td class="text-center align-middle">{{solicitud.anio}}</td>
                <td class="text-center align-middle d-none d-sm-none d-md-table-cell">{{solicitud.notes}}</td>
                <td class="text-center align-middle">{{solicitud.nomcliente}}</td>
                <td class="text-center align-middle d-none d-sm-none d-md-table-cell">{{solicitud.celcliente}}</td>
                <td class="text-center align-middle">{{solicitud.product_cant}}</td>
                <td class="text-center align-middle">
                    <a href="{% url 'solicitudDetail' solicitud.id %}">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="{% url 'solicitudDelete' solicitud.id %}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'sellingsapp/pagination.html'%}
        {% else %}
            <p>No solicitud are available.</p>
        {% endif %}
    </div>
</div>
{% else %}
  <div class="row">
      <div class="col-lg-6 offset-lg-3">
        {% include 'sellingsapp/info_sesion.html' %}
      <div>
  </div>
{% endif %}
     <!-- modal thanks you -->
     <div id="modalThanks" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-body">
                   
                        <form id="frmexport" method='POST' action="{% url 'exportExcel' %}">
                          <div class="row">
                            {% csrf_token %}
                            <div class="col-4  text-center">
                                <select id="search_mes_excel" name="search_mes_excel" class="form-control">
                                    <option value="Enero">Enero</option>
                                    <option value="Febrero">Febrero</option>
                                    <option value="Marzo">Marzo</option>
                                    <option value="Abril">Abril</option>
                                    <option value="Mayo">Mayo</option>
                                    <option value="Junio">Junio</option>
                                    <option value="Julio">Julio</option>
                                    <option value="Agosto">Agosto</option>
                                    <option value="Septiembre">Septiembre</option>
                                    <option value="Octubre">Octubre</option>
                                    <option value="Noviembre">Noviembre</option>
                                    <option value="Diciembre">Diciembre</option>
                                </select>
                            </div>
                            <div class="col-4  text-center">
                                <input class="form-control" id="anio" name="anio" value="" type="number" value="" placeholder="Año">
                            </div>
                            <div class="col-4  text-center">
                                <button class="btn btn-primary mb-2" type="submit" name="btnExportExcel" id="btnExportExcel" value="Export excel">
                                    <i class="fas fa-file-excel"></i> Export excel
                                </button>
                            </div>
                            </div>
                        </form>
                     
                 </div>
             </div>
         </div>
     </div>
     <!-- fin modal thanks you -->

{% endblock %}