{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{%static 'clientesapp/images/favicon.ico' %}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
       <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

   <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   
      <a href="{% url 'sign_up' %}" class="navbar-brand">SEG BOLIVAR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu_slide">
        <span class="navbar-toggler-icon"></span>    
      </button>

      <div class="collapse navbar-collapse" id="menu_slide">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Login</a>
            <div class="dropdown-menu">
              <a href="{% url 'sign_in' %}" class="dropdown-item">Iniciar sesión</a> 
              <a href="{% url 'sign_out' %}" class="dropdown-item">Cerrar sesión</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">People</a>
            <div class="dropdown-menu">
              <a href="{% url 'personAdd' %}" class="dropdown-item">Add Person</a>
              <a href="{% url 'personList' %}" class="dropdown-item">List people</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Campaings</a>
            <div class="dropdown-menu">
              <a href="{% url 'solicitudAdd' %}" class="dropdown-item">Add Campaings</a> 
              <a href="{% url 'solicitudList' %}" class="dropdown-item">List Campaings</a>
            </div>
          </li>

          <li class="nav-item">
            <a href="{% url 'proyectionList' %}" class="nav-link">Proyecciones</a>
          </li>

          <li class="nav-item">
            <a href="{% url 'sign_out' %}" class="nav-link .text-secondary">{{ user.username }}</a>
          </li>
          
        </ul>
      </div>
      </nav>

    <div class="container-fluid">
        <img src="{% static 'sellingsapp/images/heart.png' %}" alt="logo">
        {% include 'sellingsapp/messages.html' %}
        {% block content %}
        {% endblock %}

    </div>

    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</body>
</html>